<section class="container offset individual-color">
  <h1>{{vm.color.title}}</h1>
  <div class="individual-color-block" ng-class="{'gray-border': '{{vm.color.hex}}' === 'FFFFFF'}" style="background-color: #{{vm.color.hex}}"></div>
   <h2 ng-style="'{{vm.color.hex}}' == 'FFFFFF' ? { 'border':'1px solid #CCCCCC', 'color':'#CCCCCC' } : { 'border': '1px solid red, 'color': 'red'}"><span>#{{vm.color.hex}}</span> | <span>rgb({{vm.color.rgb.red}}, {{vm.color.rgb.green}}, {{vm.color.rgb.blue}})</span></h2>
   <p>Number of Views: {{vm.color.numViews}}</p>
   <p>Number of Votes: {{vm.color.numVotes}}</p>
   <p>Rank: {{vm.color.rank}}</p>
   <div class="user-options" ng-show="vm.currentUserColorLists.length > 0">
    <form name="colorListForm">
      <select ng-model="vm.selectedListId" required>
        <option value="">Select a Color List</option>
        <option value="{{colorList._id}}" ng-repeat="colorList in vm.currentUserColorLists track by $index">{{colorList.name}}</option>
      </select>
      <button ng-invalid="colorListForm.$invalid" ng-click="vm.addColorToList();">Add color</button>
    </form>
   </div>
</section>
