<section class="container color-search-results">
  <h1>Search Colors By Hex</h1>
  <form name="colorSearchForm" ng-submit="vm.searchColor();" novalidate>
    <span>#</span>
    <input type="text" ng-model="vm.colorSearchInput" placeholder="FFFFFF" maxlength="6" required>
    <button ng-disabled="colorSearchForm.$invalid">Search</button>
  </form>
  <h1 class="top-colors">Top Colors</h1>
  <div class="individual-color" ng-repeat="color in vm.topColors track by $index">
    <span class="hex">#{{color.hex}}</span>
    <a ui-sref="color({ hex: '{{color.hex}}' })"><span class="color" ng-style="{'background-color': '#{{color.hex}}'}"></span></a>
  </div>
</section>
