<section class="intro">
  <!-- <a ui-sref="login">Log In</a><span class="bar">|</span><a ui-sref="signup">Sign Up</a> -->
  <div>
    <h1>Iro &bull; Color</h1>
    <p><span>noun.</span> the property possessed by an object of producing different sensations on the eye as a result of the way the object reflects or emits light.</p>
  </div>
</section>

<section class="home">
  <article>
    <div class="container">
      <h1>Top Colors</h1>
      <div class="top-colors">
        <div class="top-color" ng-repeat="color in vm.topColors track by $index">
          <a ui-sref="color({ hex: '{{color.hex}}' })"><span class="color" ng-style="{ 'background-color': '#{{color.hex}}', 'border': '{{color.hex}}' === 'FFFFFF' && '1px solid #CCC' }"></span></a>
          <span class="hex">#{{color.hex}}</span>
        </div>
      </div>
    </div>
  </article>

  <article>
    <div class="container search color-search">
      <form name="colorSearch" novalidate>
        <span class="color-box white-bg" style="background-color: #{{colorSearchInput}}"></span>
        <span>#</span>
        <input ng-model="colorSearchInput" type="text" placeholder="FFFFFF" maxlength="6" required>
        <button ng-disabled="colorSearch.$invalid">search</button>
      </form>
      <h1>Search Colors</h1>
    </div>
  </article>

  <article>
    <div class="container">
      <h1>Top Palettes</h1>
      <div class="top-palettes">
        <div class="top-palette" ng-repeat="palette in vm.topPalettes">
          <h3><a ui-sref="palette({ id:{{palette.id}} })">{{palette.title}}</a></h3>
          <a class="palette-link" ui-sref="palette({ id:{{palette.id}} })"><span ng-class="{'col-1' : (palette.colors.length == 1), 'col-2' : (palette.colors.length == 2), 'col-3' : (palette.colors.length == 3), 'col-4' : (palette.colors.length == 4), 'col-5' : (palette.colors.length == 5)}" ng-repeat="color in palette.colors track by $index" ng-style="{ 'background-color': '#{{color}}', 'border': ('{{color}}' === 'FFFFFF') ? '1px solid #CCC' : '1px solid #{{color}}' }"></span></a>
        </div>
      </div>
    </div>
  </article>

  <article>
    <div class="container search palette-search">
      <form name="paletteSearch" ng-submit="vm.getPalettesByHex();" novalidate>
        <span class="color-box white-bg" style="background-color: #{{vm.paletteSearchInput}}"></span>
        <span>#</span>
        <input type="text" ng-model="vm.paletteSearchInput" placeholder="FFFFFF" maxlength="6" required>
        <button ng-disabled="paletteSearch.$invalid">search</button>
      </form>
      <h1>Search Palettes</h1>
    </div>
  </article>

  <footer class="container">
    <span>colors and palettes provided by: <a href="http://colourlovers.com" target="_blank">colourlovers.com</a></span>
  </footer>

</section>
