<section class="container color-list-show">
  <h1>{{vm.colorList.name}}</h1>
  <form class="update" name="colorListNameForm" ng-submit="vm.updateColorListName(vm.colorList._id);" novalidate>
    <input type="text" ng-model="vm.updatedColorListName" required>
    <button ng-disabled="colorListNameForm.$invalid">Update List Name</button>
  </form>
  <div class="individual-color" ng-repeat="color in vm.colorList.colors track by $index">
    <a ui-sref="color({ hex: '{{color.hex}}' })"><span class="color" ng-style="{'background-color': '#{{color.hex}}'}"></span></a>
    <span class="hex">#{{color.hex}}</span>
    <span class="user-action delete" ng-click="vm.removeColor(vm.colorList._id, color._id);">[ x ]</span>
  </div>
</section>
