<article class="profile">
  <div class="container">
    <h1 class="name">{{vm.currentUser.firstName}} {{vm.currentUser.lastName}}</h1>
    <section class="profile-color-lists">
      <h1>Color Lists</h1>
      <div class="profile-color-lists">
        <div class="profile-color-list" ng-repeat="colorList in vm.currentUser.colorLists track by $index">
          <h2>{{colorList.name}} <span class="user-action edit" ng-hide="vm.showColorListForm" ng-click="vm.showColorListForm = !vm.showColorListForm">EDIT TITLE</span> <span class="user-action edit" ng-show="vm.showColorListForm" ng-click="vm.showColorListForm = !vm.showColorListForm">CANCEL EDIT TITLE</span> <span class="user-action delete" ng-click="vm.removeColorList(colorList._id);">delete list</span></h2>
          <div>
            <form ng-show="vm.showColorListForm" class="update" name="colorListNameForm" ng-submit="vm.updateColorListName(colorList._id);" novalidate>
              <input type="text" ng-model="vm.updatedColorListName" required>
              <button ng-disabled="colorListNameForm.$invalid" ng-click="vm.showColorListForm = !vm.showColorListForm">Update Title</button>
            </form>
          </div>
          <div class="list-container">
            <div class="individual-color" ng-repeat="color in colorList.colors track by $index">
              <a ng-click="vm.colorClick(color.hex)"><span class="color" style="background-color: #{{color.hex}}"></span></a>
              <span>#{{color.hex}}</span>
              <span class="delete" ng-click="vm.removeColor(colorList._id, color._id);">[ x ]</span>
            </div>
          </div> <!-- end list-container -->
        </div> <!-- end profile-color-list -->
      <form name="colorListForm" ng-submit="vm.createColorList();" novalidate>
        <input type="text" ng-model="vm.customColorListName" required>
        <button ng-disabled="colorListForm.$invalid">Create List</button>
      </form>
      </div>
    </section>

    <section class="profile-palette-lists">
      <h1>Palette Lists</h1>
      <div class="profile-palette-lists">
        <div class="profile-palette-list" ng-repeat="paletteList in vm.currentUser.paletteLists track by $index">
          <h2>{{paletteList.name}} <span class="user-action edit" ng-hide="vm.showPaletteListForm" ng-click="vm.showPaletteListForm = !vm.showPaletteListForm">EDIT TITLE</span> <span class="user-action edit" ng-show="vm.showPaletteListForm" ng-click="vm.showPaletteListForm = !vm.showPaletteListForm">CANCEL EDIT TITLE</span> <span class="user-action delete" ng-click="vm.removePaletteList(paletteList._id);">delete list</span></h2>
          <div>
            <form ng-show="vm.showPaletteListForm" class="update" name="paletteListNameForm" ng-submit="vm.updatePaletteListName(paletteList._id);" novalidate>
              <input type="text" ng-model="vm.updatedPaletteListName" required>
              <button ng-disabled="paletteListNameForm.$invalid" ng-click="vm.showPaletteListForm = !vm.showPaletteListForm">Update Title</button>
            </form>
          </div>
          <div class="list-container">
            <div class="individual-palette" ng-repeat="palette in paletteList.palettes track by $index">
              <h3>{{palette.name}} <span class="user-action delete" ng-click="vm.removePalette(paletteList._id, palette._id);">[ x ]</span></h3>
              <a class="palette-link" ng-click="vm.paletteClick(palette.id)"><span class="col-{{palette.colors.length}}" ng-repeat="color in palette.colors track by $index" style="background-color: #{{color}}"></span></a>
              <span class="col-{{palette.colors.length}} color" ng-repeat="color in palette.colors track by $index">#{{color}}</span>
            </div>
          </div>
        </div>
        <form name="paletteListForm" ng-submit="vm.createPaletteList();" novalidate>
          <input type="text" ng-model="vm.customPaletteListName" required>
          <button ng-disabled="paletteListForm.$invalid">Create Palette List</button>
        </form>
      </div>
    </section>

    <section class="profile-custom-palette-lists">
      <h1>Custom Palettes</h1>
      <div class="profile-palette-lists">
        <div class="list-container">
          <div class="individual-palette" ng-repeat="palette in vm.currentUser.customPalettes track by $index">
            <h3>{{palette.name}} <span class="user-action delete" ng-click="vm.removeCustomPalette(palette._id);">[ x ]</span></h3>
            <div class="custom-palette"><span class="col-{{palette.colors.length}}" ng-repeat="color in palette.colors track by $index" ng-style="{ 'background-color': '#{{color}}'}"></span></div>
            <span class="col-{{palette.colors.length}} color" ng-class="{'gray-border': '{{color}}' === 'FFFFFF'}" ng-repeat="color in palette.colors track by $index">#{{color}}</span>
          </div>
        </div>
      </div>
    </section>

    <section class="create-palette">
      <form name="customPaletteForm" ng-submit="vm.createCustomPalette();" novalidate>
        <div class="create-palette-colors">
          <span style="background-color: #{{vm.customHexOne}}"></span>
          <span style="background-color: #{{vm.customHexTwo}}"></span>
          <span style="background-color: #{{vm.customHexThree}}"></span>
          <span style="background-color: #{{vm.customHexFour}}"></span>
          <span style="background-color: #{{vm.customHexFive}}"></span>
        </div>
        <div class="create-palette-hex">
          <div><span>#</span> <input type="text" ng-model="vm.customHexOne" placeholder="FFFFFF" maxlength="6"></div>
          <div><span>#</span> <input type="text" ng-model="vm.customHexTwo" placeholder="FFFFFF" maxlength="6"></div>
          <div><span>#</span> <input type="text" ng-model="vm.customHexThree" placeholder="FFFFFF" maxlength="6"></div>
          <div><span>#</span> <input type="text" ng-model="vm.customHexFour" placeholder="FFFFFF" maxlength="6"></div>
          <div><span>#</span> <input type="text" ng-model="vm.customHexFive" placeholder="FFFFFF" maxlength="6"></div>
        </div>
        <input type="text" ng-model="vm.customPaletteName" class="custom-palette-name" required>
        <button ng-disabled="customPaletteForm.$invalid">Create Custom Palette</button>
      </form>
    </section>
  </div>
</article>
