@import "normalize";

/* ----- TYPOGRAPHY ------------------------------------------------- */
@font-face {
  font-family: 'Didot';
  src: url('fonts/DidotHTFL96LightItal.eot');
  src: local('☺'), url('fonts/DidotHTFL96LightItal.woff') format('woff'), url('fonts/DidotHTFL96LightItal.ttf') format('truetype'), url('fonts/DidotHTFL96LightItal.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ----- VARIABLES -------------------------------------------------- */
$black: #000;
$white: #FFF;
$purple: #9793A1;
$purplehover: #7c7788;
$purplergb: rgba(151,147,161, 0.8);
$teal: #8a9da8;
$tealhover: #6c8593;
$tealrgb: rgba(138, 157, 168, 0.8);
$blue: #8397af;
$bluehover: #637d9c;
$bluergba: rgba(131, 151, 175, 0.8);

/* ----- MIXINS ----------------------------------------------------- */
@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  transition: $duration;
}

@mixin box-sizing($box-type) {
  -webkit-box-sizing: $box-type;
  -moz-box-sizing: $box-type;
  box-sizing: $box-type;
}

/* ----- TAGS ------------------------------------------------------- */

body {
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  margin: 0;
  position: relative;
}

h1, h2, h3 {
  font-family: 'Didot', serif;
}

a {
  text-decoration: none;
}

header, main, section, article, div, nav {
  @include box-sizing(border-box);
}

header {
  h1 {
    color: $blue;
  }
}

nav {
  width: 100%;
  position: fixed;
  top: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $teal;

    li {
      display: inline-block;
      text-align: center;

      &.right {
        float: right;
      }

      a {
        @include box-sizing(border-box);
        @include transition(0.5s);
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 20px 30px;
        color: $white;
        text-transform: uppercase;

        &:hover {
          background: $tealhover;
        }

        &.active {
          background-color: $tealhover;
        }
      }
    }
  }
}

/* ----- CLASSES ---------------------------------------------------- */
