@import "normalize";

/* ----- TYPOGRAPHY ------------------------------------------------- */
@font-face {
  font-family: 'Didot';
  src: url('fonts/DidotHTFL96LightItal.eot');
  src: local('☺'), url('fonts/DidotHTFL96LightItal.woff') format('woff'), url('fonts/DidotHTFL96LightItal.ttf') format('truetype'), url('fonts/DidotHTFL96LightItal.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ----- VARIABLES -------------------------------------------------- */
$black: #000;
$white: #FFF;
$purple: #9793A1;
$purplehover: #7c7788;
$purplergb: rgba(151,147,161, 0.8);
$green: #83af9c;
$greenhover: #639c84;
$greenrgb: rgba(131, 175, 156, 0.8);
$tealLight: #e2e7e9;
$blue: #8397af;
$bluehover: #637d9c;
$bluergba: rgba(131, 151, 175, 0.8);
$pink: #d590ae;
$pinkhover: #c76b93;
$pinkrgba: rgba(213, 144, 174, 0.8);

/* ----- MIXINS ----------------------------------------------------- */
@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  transition: $duration;
}

@mixin box-sizing($box-type) {
  -webkit-box-sizing: $box-type;
  -moz-box-sizing: $box-type;
  box-sizing: $box-type;
}

/* ----- TAGS ------------------------------------------------------- */

body {
  font-family: 'Playfair Display', sans-serif;
  font-size: 13px;
  position: relative;
  ::selection {
    background: $tealLight; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: $tealLight; /* Gecko Browsers */
  }
}

h1, h2, h3 {
  font-family: 'Didot', serif;
}

a {
  text-decoration: none;
  @include transition(0.5s);
}

main, section, article, div, nav, footer, ul, li {
  @include box-sizing(border-box);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  h1 {
    color: $blue;
  }
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 0 5px 0 rgba(255,255,255,0.8);
  -moz-box-shadow: 0 0 5px 0 rgba(255,255,255,0.8);
  box-shadow: 0 0 5px 0 rgba(255,255,255,0.8);

  ul {
    background-color: $green;

    li {
      display: inline-block;
      text-align: center;

      &.right {
        float: right;
      }

      a {
        @include box-sizing(border-box);
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 20px 30px;
        color: $white;
        text-transform: uppercase;

        &:hover {
          background: $greenhover;
        }

        &.active {
          background-color: $greenhover;
        }
      }
    }
  }
} /* END NAV */

main {
  margin: 57px 0 0 0;

  section {

    article {

      h1 {
        font-size: 40px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      &:nth-child(2) {
        background-color: $blue;
      }

      &:nth-child(2n) {

        h1 {
          color: $white;
          text-align: right;
        }
      }

      &:nth-child(4) {
        background-color: $purple;
      }

      &:nth-child(6) {
        background-color: $green;
      }

      .content {
        max-width: 1000px;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
      }
    }
  }
} /* END MAIN */

footer {
  font-size: 10px;
  padding: 20px;
  text-align: center;
  font-style: italic;

  a {
    color: $green;

    &:hover {
      color: $greenhover;
    }
  }
}

/* ----- CLASSES ---------------------------------------------------- */
.home {

  .top-colors {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    .top-color {
      width: 24%;
      display: inline-block;
      text-align: center;

      a {
        color: $black;

        &:hover {
          color: $purple;
        }
      }

      span {
        @include box-sizing(border-box);
        font-size: 13px;
        display: inline-block;
        width: 100%;

        &.color {
          height: 30px;
          margin: 10px 0 0 0;
        }
      }
    }
  } /* END .top-colors */

  .top-palettes {

    .top-palette {

      a {
        color: $black;

        &.palette-link {
          display: block;
          height: 32px;
        }

        &:hover {
          color: $purple;
        }
      }

      h3 {
        font-family: 'Playfair Display', sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        margin: 15px 0 5px;
      }

      span {
        @include box-sizing(border-box);
        height: 30px;
        width: 20%;
        display: inline-block;
      }
    }
  }

} /* END .home */


