<section class="container individual-palette">
  <h1>{{vm.palette.title}}</h1>
  <div class="individual-palette-colors">
    <div ng-repeat="color in vm.palette.colors track by $index">
      <span ng-style="{ 'background-color': '#{{color}}' }"><a ui-sref="color({ hex: '{{color}}' })"></a></span>
      <a class="hex" ui-sref="color({ hex: '{{color}}' })">#{{color}}</a>
    </div>
  </div>
  <div class="user-options" ng-show="vm.currentUserPaletteLists.length > 0">
    <select ng-model="vm.selectedListId">
    <option value="{{paletteList._id}}" ng-repeat="paletteList in vm.currentUserPaletteLists track by $index">{{paletteList.name}}</option>
  </select>
  <button ng-click="vm.addPaletteToList();">Add Palette to List</button>
  </div>
</section>
