<div class="sign-up container">
  <h1>Sign Up</h1>
  <form name="signUpForm" ng-submit="vm.submitSignUp();" novalidate>
    <div>
      <label for="firstName">First Name*</label>
      <input ng-model="vm.user.firstName" ng-blur="vm.validateFirstName();" type="text" id="firstName" class="first-name" required autofocus>
      <span class="error" ng-show="vm.firstNameEmpty">This field is required.*</span>
    </div>
    <div>
      <label for="lastName">Last Name*</label>
      <input ng-model="vm.user.lastName" ng-blur="vm.validateLastName();" type="text" id="lastName" class="last-name" required>
      <span class="error" ng-show="vm.lastNameEmpty">This field is required.*</span>
    </div>
    <div>
      <label for="email">Email*</label>
      <input ng-model="vm.user.email" type="email" ng-blur="vm.validateEmail();" id="email" class="email" required email>
      <span class="error" ng-show="vm.emailEmpty">This field is required.*</span>
      <span class="error" ng-show="vm.invalidEmailFormat">Invalid email format.</span>
      <span class="error" ng-hide="!vm.emailConflict">This email is already taken.</span>
    </div>
    <div>
      <label for="password">Password*</label>
      <input ng-model="vm.user.password" ng-blur="vm.validatePassword();" type="password" id="password" class="password" required>
      <span class="error" ng-show="vm.passwordEmpty">This field is required.*</span>
    </div>
    <span class="info">* Required fields</span>
    <button type="submit" ng-disabled="signUpForm.$invalid">Sign Up</button>
  </form>
  <p>Already a member? <a ui-sref="login">Log in</a>.</p>
</div>
